body{
    background-color: #b9b9b9;

}
main{
    width: 100%;
    max-width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
textarea{
    max-width: 600px;
    width: 100%;
    outline: none;
}

pre{
    white-space: pre-wrap;
}
